{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static',filename='css/loginform.css')}}">
  <title>Sign in</title>
{% endblock %}

{% block body %}
  <div id="box">
      <div class="box1">
        <header id="lefthead">
        <h1>Hello!</h1>
         </header>
         <p>Sign in to your account</p>

         <form class="container1" method="POST"> 
          
          <div class="fontemail">
              <input type="email" placeholder="Email" name="email" value="" required> 
              <a><img src="{{ url_for('static', filename='images/emailicon.png') }}" alt="SignupEmailIcon" /></a>
          </div>
            
          <div class="fontpassword">
              <input type="password" placeholder="Password" name="password" value="" required> 
              <a><img src="{{ url_for('static', filename='images/passwordicon.png') }}" alt="SignupPasswordIcon" /></a>
          </div>     
          
          <input type="submit" value="Sign in" class="signupCreate"><a href=""></a>
          <!--url_for('forms.SignUpPage')-->

       </form>


        <div class="createAccount">
        <p>Don't have an account?<a href="{{ url_for('auth.signup') }}">Create</a></p>
        <!--url_for('forms.SignUpPage')-->
        </div>


      </div>
    

      <div class="box2">
        <header id="righthead">
        <h1>Welcome Back!</h1>
      </header>
        <div class=container>
        <p>We're happy to have you on board and we can't wait to help you reach more news around Orghub!</p>
        </div>
      </div>

    </div>
  <!--<a href="#"><i class="fa-solid fa-envelope"></i></a>-->
 {% endblock %}
