{% extends 'base.html' %}
 
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/loginform.css') }}">
  <title>verification</title>

{% endblock %}
{% block body %}
  <div class="verificationBox">

    <h1>Verify your email</h1>
    <p>Please enter the code we sent your email</p>


    <form method="POST">
      <div class="inputsVerify">
         
          <input id="value" name="value" type="value">
          <input id="value" type ="submit" class = "btn btn-block login-btn mb-4" value = "Verify"> 
  
          <div class="resendCode">
            <p>Didn't receive the code?Resend</a></p>
          </div>
         
        </div>
  

    </form>

    

  </div>
{% endblock %}